<!--start contact-->
<section class="section bg-light" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3>{{config.subtitle}}</h3>
                    <p class="text-muted mt-2">{{config.description}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-details mb-4 mb-lg-0">
                    <p class="mb-3" *ngIf="config.email"><i class="mdi mdi-email-outline align-middle text-muted fs-20 me-2"></i> <span
                            class="fw-medium">{{config.email}}</span></p>
                    <p class="mb-3" *ngIf="config.phone"><i class="mdi mdi-phone align-middle text-muted fs-20 me-2"></i> <span
                            class="fw-medium">{{config.phone}}</span></p>
                    <p class="mb-3" *ngIf="config.workingHours"><i class="mdi mdi-hospital-building text-muted fs-20 me-2"></i> <span
                            class="fw-medium">{{config.workingHours}}</span></p>
                    <p class="mb-3" *ngIf="config.map"><i class="mdi mdi-map-marker-outline text-muted fs-20 me-2"></i> <span
                            class="fw-medium">{{config.map}}</span></p>
                </div>
                <!--end contact-details-->
            </div>
            <!--end col-->
            <div class="col-lg-7">
                <form (ngSubmit)="sendMsg()" [formGroup]="contactForm" method="post" class="contact-form" name="myForm" id="myForm">
                    <span id="error-msg"></span>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="position-relative mb-3">
                                <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                                <input name="name" id="name" type="text" class="form-control" formControlName="name"
                                    placeholder="Enter your name*">
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-lg-12">
                            <div class="position-relative mb-3">
                                <span class="input-group-text"><i class="mdi mdi-phone-outline"></i></span>
                                <input name="phone" id="phone" type="phone" class="form-control" formControlName="phone"
                                    placeholder="Enter your phone*">
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <input type="submit" id="submit" name="send" class="btn btn-primary"
                                [value]="config.buttonSendCaption">
                        </div><!-- end col -->
                    </div><!-- end row -->
                </form>
                <!--end form-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end contact-->
